@import url('/fonts/fonts.css');
@import 'tailwindcss/preflight';
@import 'tailwindcss/utilities';

@keyframes fadeUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

:root {
  background-color: #181818;
  color: rgba(255, 255, 255, 0.87);
  color-scheme: light dark;
  font-family: 'Raleway', sans-serif;
  font-synthesis: none;
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* Default (Light) Theme */
:root {
  --color-primary: #3490dc;
  --primary-dark: #042352;
  --color-primary-light: #224e8f;
  --color-secondary: #ffed4a;
  --color-background: #ffffff;
  --color-text: #333333;
  --color-accent: #8c56f7;
  --color-accent-light: rgba(94, 220, 212, 0.5);
  --color-gray-100: #eceff1;
  --color-gray-200: #cfd8dc;
  --color-gray-300: #b0bec5;
  --color-gray-400: #90a4ae;
  --color-gray-500: #78909c;
  --color-gray-600: #607d8b;
  --color-gray-700: #546e7a;
  --color-gray-800: #455a64;
  --color-gray-900: #37474f;
  --color-gray-1000: #263238;
  --color-gray-1100: #1c262b;
}

/* Dark Theme */
.dark {
  --color-background: #222222;
  --color-primary: #186be8;
  --color-primary-dark: #042352;
  --primary-dark: #042352;
  --color-primary-light: #224e8f;
  --color-accent: #5edcd4;
  --color-accent-light: rgba(94, 220, 212, 0.5) --color-gray-100: #dbe4e7;
  --color-gray-200: #cdd8da;
  --color-gray-300: #b5cace;
  --color-gray-400: #93afb6;
  --color-gray-500: #76979e;
  --color-gray-600: #5c7d85;
  --color-gray-700: #5b7075;
  --color-gray-800: #536468;
  --color-gray-900: #445356;
  --color-gray-1000: #384345;
  --color-gray-1100: #313839;

  --color-warning: #d7ae20;
  --color-success: #3dbb59;
  --color-danger: #d65025;
  --color-info: #1baab4;

  --color-text: #93afb6;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #f8f8f8;
    color: #181818;
  }
}

/* TODO: fix to use theme colors  */

html,
body {
  background-color: white;
  color: #333;
}
